{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">github</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">instagram</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>This is an example

                        <a rel="nofollow" href="#" target="_parent">This is an example</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>